# Environment variables
.env
*.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# AI / vector data
backend/data/
*.faiss

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db